/* ----------------
	Animation
------------------ */

@keyframes rotate{
	from{transform: rotateZ(0);}
	to{transform: rotateZ(360deg);}
}

@keyframes transisi{
	from{
		background: black;
		clip-path: circle(0);
	}
	to{
		background: white;
		clip-path: circle(100%);
	}
}

#page-transition.active{
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	animation: transisi .3s linear forwards;
}

/* --------------
	navbar
--------------- */ 

#navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	align-items: center;
	z-index: 98;
}

#navbar .brand *{height: 70px;}

#navbar .menu{
	display: flex;
	margin: 0 10%;
	line-height: 50px;
	width: 40%;
	margin-left: auto;
	justify-content: space-around;
	transition: .3s ease;
}

#navbar .nav-item{padding: 0 10px;}

#navbar .nav-item.active{
	background: white;
	border-radius: 4px;
}

#navbar .nav-item.active a{color: var(--color-black);}

#navbar .nav-item.active p::first-letter{
	color: var(--color-red);
	font-size: 1.4rem;
	text-transform: capitalize;
}

#navbar .nav-item a{
	font-family: var(--font-1);
	font-weight: 300;
	letter-spacing: .75px;
}

.nav-toggle{display: none;}

/* --------------
	headline
--------------- */

#headline{
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 1;
	align-items: center;
	justify-content: center;
	background: var(--color-black);
}

#headline .hline{
	text-align: center;
	color: var(--color-white);
	font-family: var(--font-1);
	font-weight: 300;
}

#headline .hline .head *{width: 60%;}

#headline .hline .job{
	font-weight: 100;
	letter-spacing: .75px;
	font-size: 14px;
	line-height: 25px;
}

#headline .button-group{
	width: 55%;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
	font-family: "Montserrat medium", sans-serif;
}

.circle1,.circle2,.circle3{
	position: fixed;
	border-radius: 50%;
	z-index: 96;
}

.circle1{
	top: -15px;
	left: 33%;
	border: 30px solid rgba(150,150,150,0.3);
	height: 30px;
	width: 30px;
	border-bottom: 30px solid rgb(150,150,150,0.7);
	animation: rotate 7s ease-in-out infinite ;
}

.circle2{
	left: -20px;
	bottom: 13%;
	border: 60px solid rgba(150,150,150,0.3);
	height: 60px;
	width: 60px;
	border-left: 60px solid rgb(150,150,150,0.7);
	animation: rotate 11s ease-in-out infinite;
}

.circle3{
	right: -0;
	top: 23%;
	border: 40px solid rgba(150,150,150,0.3);
	height: 40px;
	width: 40px;
	border-right: 40px solid rgb(150,150,150,0.7);
	animation: rotate 13s ease-in-out infinite;
}

/* ----------
	About
---------- */

#about{
	height: 100vh;
	width: 100%;
	color: white;
	align-items: center;
}

#about .about{height: 300px;}

#about .about .head-profile h2{
	color:var(--color-white);
	font-family: var(--font-1);
	font-weight: 700;
	font-size: 4rem;
	letter-spacing: 1.5px;
}
#about .about .head-profile h2::first-letter{color: red;}

#about .about .head-profile p{
	color:var(--color-white);
	font-family: var(--font-2);
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 1.2px;
}

#about .about .body-profile{margin: 30px 0;}

#about .about .body-profile span{
	display: block;
	font-family: var(--font-2);
	font-weight: 500;
	letter-spacing: 1.2px;
	margin: 10px 0;
	font-size: 1rem;
	border: 1px solid white;
	border-radius: 20px;
	padding: 7px 30px;
	cursor: pointer;
	width: 280px;
}

#about .about .body-profile span:hover{
	background: white;
	padding: 2px 35px;
	color: black;
	width: 300px;
}

#about .about .body-profile span:hover::first-letter{
	color: red;
	font-size: 1.5rem;
}

#about .about .link-profile{
	position: relative;
	width: 200px;
}

#about .about .link-profile a{
	font-family: var(--font-2);
	font-weight: 300;
	letter-spacing: 1.2px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	position: relative;
	transition: .3 ease;
}

#about .about .link-profile .arrow{
	width: 12px;
	height: 12px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	transform: rotateZ(-45deg);
	position: absolute;
	top: 2px;
	right: 20%;
}

#about .about .link-profile a:hover{
	color: #ff4757;
}

#about .about .link-profile a:hover .arrow{
	border-color: #ff4757;
}

#about .img-profile{
	height: 300px;
	width: 280px;
	margin-left: auto;
	position: relative;
	filter: grayscale(100%);
}

#about img::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: red;
}


/*---------
  Contact
---------- */

#contact{
	width: 100%;
	height: 100vh;
	align-items: center;
}

#contact .contact{
	color: var(--color-white);
}

#contact .contact .contact-header h2{
	color:var(--color-white);
	font-family: var(--font-1);
	font-weight: 700;
	font-size: 4rem;
	letter-spacing: 1.5px;
}

#contact .contact .contact-header h2::first-letter{color: var(--color-red);}

#contact .contact .contact-header p{
	font-family: var(--font-2);
	padding: 3px;
}

#contact .contact .contact-header p i{
	margin-right: 3px;
	height: 3px;
}

@media only screen and (max-width: 640px){

	/* --------------
		Navbar
	--------------- */

	#navbar .menu{
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 99;
		text-align: center;
		background: var(--color-black);
		clip-path: circle(0);
	}
	
	#navbar .menu.active{
		pointer-events: all;
		clip-path: circle(100%);
		overflow: hidden;
	}

	#navbar .nav-item{margin: 15px;}

	#navbar .nav-item p{
		padding: 0 30px;
		font-size: 16px;
		letter-spacing: .9px;
	}

	.nav-toggle{
		display:block;
		position: fixed;
		bottom: 50px;
		right: 50px;
		z-index: 99;
	}

	.nav-toggle .toggle{
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: flex;
		border-radius: 7px;
		position: relative;
		flex-direction: column;
		background: transparent;
		align-items: center;
		justify-content: center;
		transition: .3s ease;
		border: 2px solid rgba(255,255,255,0.7);
	}

	.nav-toggle .toggle.active .line1{
		top: 50%;
		transform: translateY(-50%) rotateZ(45deg);
	}

	.nav-toggle .toggle.active .line2{
		transform: rotateZ(-45deg) translateY(-50%);
		top:  50%;
	}

	.nav-toggle .toggle .line1,
	.nav-toggle .toggle .line2{
		height: 2px;
		width: 20px;
		background: white;
		position: absolute;
		transition: .3s ease;
	}

	.nav-toggle .toggle .line1{	top: 35%;}

	.nav-toggle .toggle .line2{	bottom: 35%;}

	/* --------------
		Headline
	--------------- */

	#headline .hline .head *{width: 70%;}

	#headline .button-group{width: 80%;}

	/*---------
		About
	---------- */

	#about .about{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	#about .about .body-profile span{
		margin: 10px auto;
	}

	#about .img-profile{
		display: none;
	}

	#about .about .link-profile{
		margin-left: 60px;
	}

@media only screen and (max-width: 480px){
	#headline .hline .head *{
		width: 85%;
	}
	#headline .button-group{
		width: 100%;
	}
}